<div id="footer">
  <div class="footer">
    <div class="footer-content">
      <ul class="text list-inline text-center">
        <li><%= link_to "", "www.facebook.com", class: "fa fa-facebook-square" %></li>
        <li><%= link_to "", "www.linkedin.com", class: "fa fa-linkedin-square" %></li>
        <li><%= link_to "", "www.twitter.com", class: "fa fa-twitter-square" %></li>
      </ul>
      <p>This is a Airbnb Home challenge @ LeWagon</p>
    </div>
  </div>
</div>
